form {
  margin-top: 5rem;
 
}

form input[name="city"],
form input[name="country"] {
  
  background-color: transparent;
  color: white;
 
  border: 2px solid rgb(226, 230, 17);
  border-width: 1.5px;
  
  
  
 
}
